<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <strong>Buscador de Pokémon</strong>
    <mat-form-field class="pokemon-form-field">
      <mat-label>Nombre</mat-label>
      <input type="text" matInput placeholder="Nombre de Pókemon" [(ngModel)]="pokemonForm.pokemonName">
    </mat-form-field>
    <button mat-raised-button (click)="buscarPokemon()">Buscar</button>
  </div>
</ion-content>
